body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: linear-gradient(90deg, rgba(94,189,241,1) 0%, rgba(1,6,125,1) 100%);
}

#board{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 42);
    padding: 10px;
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}

.boardRow{
    display: flex;

}

.boardColumn{
    width: 50px;
    height: 50px;
    border: solid 2px;
    border-color: black;
    border-radius: 50%;
    margin: 1px;
}

#user-fields{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-btn{
    border: 0px;
    width: 45px;
    height: 2em;
}

#submit-button{
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    margin: auto;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: solid 1px;
    padding: 10px;
}

#player-turn{
    margin-bottom: 20px;
    text-align: center;

}

